* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  color: rgba(6, 18, 36, 0.9);
}

h1 {
  font-family: "IBM Plex Serif", serif;
}

.site__wrapper {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  padding: 0px;
}

.banner__img {
  background-image: url("../images/banner.svg");
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  height: 800px;
  width: 100%;
}
@media (max-width: 1347px) {
  .banner__img {
    background-position: 70% center;
  }
}
@media (max-width: 664px) {
  .banner__img {
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    min-height: 600px;
  }
}

.header {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  padding: 39px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1223px;
}
.header__logo {
  display: flex;
  align-items: center;
  flex-flow: row-reverse;
  gap: 10px;
}
.header__logo p {
  font-size: 30px;
  font-weight: bold;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__right ul {
  display: flex;
  gap: 40px;
  list-style: none;
}
.header__right li {
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}
.header__right a {
  color: rgba(6, 18, 36, 0.9);
  text-decoration: none;
  line-height: 24px;
  letter-spacing: 1.9px;
  font-size: 14px;
}
@media (max-width: 1108px) {
  .header__right {
    display: none;
  }
}
.header__btn {
  width: 110px;
  height: 40px;
  border-radius: 43px;
  border: 1px solid rgb(16, 100, 229);
  background-color: transparent;
  font-size: 17px;
  letter-spacing: 1px;
}
.header__btn-blue {
  background-color: rgb(16, 100, 229);
  color: white;
  font-size: 14px;
  border-radius: 45px;
  text-align: center;
  cursor: pointer;
  width: 189px;
  height: 40px;
  border: none;
  letter-spacing: 1.9px;
}
.header__item {
  display: none;
}
@media (max-width: 1108px) {
  .header__item {
    display: flex;
  }
  .header__item i {
    font-size: 27px;
    color: rgb(16, 100, 229);
  }
}

.banner {
  margin-top: 105px;
  padding-left: 105px;
}
@media (max-width: 1098px) {
  .banner {
    padding-left: 50px;
    margin-top: 60px;
  }
}
@media (max-width: 1098px) {
  .banner__content {
    width: 50%;
  }
}
@media (max-width: 664px) {
  .banner__content {
    position: relative;
    bottom: 70px;
  }
}
.banner__text h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 45.5px;
}
@media (max-width: 664px) {
  .banner__text h1 {
    font-size: 36px;
  }
}
.banner__steps {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 14px;
  margin-bottom: 14px;
}
.banner__steps .line {
  border-bottom: 1.5px solid rgb(16, 100, 229);
  width: 16px;
}
.banner__steps .number_one {
  font-size: 24px;
  font-weight: 500;
}
.banner__steps .number {
  font-size: 18px;
}
.banner__registration p {
  font-size: 24px;
  font-weight: 500;
}
.banner__registration .registration__info {
  font-size: 16px;
  font-weight: 400;
  margin-top: 14px;
  width: 30%;
}
@media (max-width: 1098px) {
  .banner__registration .registration__info {
    width: 100%;
  }
}
.banner__registration .banner__btn {
  background-color: rgb(16, 100, 229);
  color: white;
  font-size: 14px;
  border-radius: 45px;
  text-align: center;
  cursor: pointer;
  width: 189px;
  height: 40px;
  border: none;
  letter-spacing: 1.9px;
  width: 295px;
  height: 56px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 31px;
}
.banner__dots {
  display: flex;
  justify-content: center;
  gap: 20px;
  left: 50%;
  bottom: 40px;
  position: absolute;
}
.banner__dots .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid rgb(16, 100, 229);
}
.banner__dots .dot__active {
  background-color: rgb(16, 100, 229);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(16, 100, 229);
}
@media (max-width: 664px) {
  .banner__dots {
    position: relative;
    margin-top: 20px;
  }
}

.benefits {
  padding-top: 54px;
}
.benefits__container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
@media (max-width: 734px) {
  .benefits__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.benefits__item {
  display: flex;
  gap: 15px;
}
@media (max-width: 880px) {
  .benefits__item {
    gap: 10px;
    align-items: flex-start;
  }
}
@media (max-width: 734px) {
  .benefits__item {
    align-items: center;
    gap: 33px;
  }
}
.benefits__title {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0px;
}
.benefits__info {
  font-size: 16px;
  font-weight: 400;
  margin-top: 17px;
  line-height: 130%;
  letter-spacing: 4%;
}
@media (max-width: 880px) {
  .benefits__info {
    margin-top: 8px;
  }
}

/*# sourceMappingURL=main.css.map */
