$blue-light: rgba(222, 238, 252, 1);
$blue-btn: rgba(16, 100, 229, 1);
$text-color: rgba(6, 18, 36, 0.9);
$text-btn: white;
$green-color: rgba(216, 241, 240, 1);
$footer-text-color: rgba(255, 255, 255, 1);
