@use "base.scss";
@use "colors.scss" as c;

@mixin btn-blue {
	background-color: c.$blue-btn;
	color: c.$text-btn;
	font-size: 14px;
	border-radius: 45px;
	text-align: center;
	cursor: pointer;
	width: 189px;
	height: 40px;
	border: none;
	letter-spacing: 1.9px;
}
@mixin container {
	max-width: 1500px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	display: flex;
	justify-content: center;
}
.site__wrapper {
	@include container;
	padding: 0px;
}
.banner__img {
	background-image: url("../images/banner.svg");
	background-size: cover;
	position: relative;
	background-repeat: no-repeat;
	height: 800px;
	width: 100%;
	@media (max-width: 1347px) {
		background-position: 70% center;
	}
	@media (max-width: 664px) {
		background-size: cover;
		background-repeat: no-repeat;
		height: auto;
		min-height: 600px;
	}
}
.header {
	@include container;
	padding: 39px;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 1223px;
	}
	&__logo {
		display: flex;
		align-items: center;
		flex-flow: row-reverse;
		gap: 10px;

		p {
			font-size: 30px;
			font-weight: bold;
		}
	}
	&__right {
		display: flex;
		align-items: center;
		gap: 20px;

		ul {
			display: flex;
			gap: 40px;
			list-style: none;
		}
		li {
			font-size: 14px;
			line-height: 24px;

			text-decoration: none;
		}
		a {
			color: c.$text-color;
			text-decoration: none;
			line-height: 24px;

			letter-spacing: 1.9px;
			font-size: 14px;
		}
		@media (max-width: 1108px) {
			display: none;
		}
	}

	&__btn {
		width: 110px;
		height: 40px;
		border-radius: 43px;
		border: 1px solid c.$blue-btn;
		background-color: transparent;
		font-size: 17px;
		letter-spacing: 1px;
	}
	&__btn-blue {
		@include btn-blue;
	}
	&__item {
		display: none;
		@media (max-width: 1108px) {
			display: flex;
			i {
				font-size: 27px;
				color: c.$blue-btn;
			}
		}
	}
}
.banner {
	margin-top: 105px;
	padding-left: 105px;

	@media (max-width: 1098px) {
		padding-left: 50px;
		margin-top: 60px;
	}
	&__content {
		@media (max-width: 1098px) {
			width: 50%;
		}
		@media (max-width: 664px) {
			position: relative;
			bottom: 70px;
		}
	}
	&__text {
		h1 {
			font-size: 40px;
			font-weight: 500;
			line-height: 45.5px;
			@media (max-width: 664px) {
				font-size: 36px;
			}
		}
	}
	&__steps {
		display: flex;
		align-items: center;
		gap: 10px;
		margin-top: 14px;
		margin-bottom: 14px;

		.line {
			border-bottom: 1.5px solid c.$blue-btn;
			width: 16px;
		}
		.number_one {
			font-size: 24px;
			font-weight: 500;
		}
		.number {
			font-size: 18px;
		}
	}
	&__registration {
		p {
			font-size: 24px;
			font-weight: 500;
		}
		.registration__info {
			font-size: 16px;
			font-weight: 400;
			margin-top: 14px;
			width: 30%;
			@media (max-width: 1098px) {
				width: 100%;
			}
		}
		.banner__btn {
			@include btn-blue();
			width: 295px;
			height: 56px;
			font-size: 16px;
			font-weight: 700;
			letter-spacing: 1px;
			margin-top: 31px;
		}
	}
	&__dots {
		display: flex;
		justify-content: center;
		gap: 20px;
		left: 50%;
		bottom: 40px;
		position: absolute;
		.dot {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: transparent;
			border: 2px solid c.$blue-btn;
			&__active {
				background-color: c.$blue-btn;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background-color: c.$blue-btn;
			}
		}
		@media (max-width: 664px) {
			position: relative;
			margin-top: 20px;
		}
	}
}
.benefits {
	padding-top: 54px;
	&__container {
		@include container();
		display: flex;
		justify-content: space-around;
		gap: 40px;
		@media (max-width: 734px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	&__item {
		display: flex;
		gap: 15px;

		@media (max-width: 880px) {
			gap: 10px;
			align-items: flex-start;
		}
		@media (max-width: 734px) {
			align-items: center;
			gap: 33px;
		}
	}
	&__title {
		font-size: 24px;
		font-weight: 500;

		letter-spacing: 0px;
	}
	&__info {
		font-size: 16px;
		font-weight: 400;
		margin-top: 17px;
		line-height: 130%;
		letter-spacing: 4%;
		@media (max-width: 880px) {
			margin-top: 8px;
		}
	}
}
