@use "base.scss";
@use "colors.scss" as c;

@mixin btn-blue {
	background-color: c.$blue-btn;
	color: c.$text-btn;
	font-size: 14px;
	border-radius: 45px;
	text-align: center;
	cursor: pointer;
	width: 189px;
	height: 40px;
	border: none;
	letter-spacing: 1.9px;
}
@mixin container {
	max-width: 1500px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	display: flex;
	justify-content: center;
}

.first-screen-wrapper {
	@include container;
	padding: 0px;
}
.first-screen-background {
	background-image: url("../images/banner.svg");
	background-size: cover;
	position: relative;
	background-repeat: no-repeat;
	height: 800px;
	width: 100%;
	@media (max-width: 1347px) {
		background-position: 70% center;
	}
	@media (max-width: 664px) {
		background-size: cover;
		background-repeat: no-repeat;
		height: auto;
		min-height: 600px;
	}
}
.header {
	@include container;
	padding: 39px;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 1223px;
	}
	&__logo {
		display: flex;
		align-items: center;
		flex-flow: row-reverse;
		gap: 10px;

		p {
			font-size: 30px;
			font-weight: bold;
		}
	}
	&__right {
		display: flex;
		align-items: center;
		gap: 20px;

		ul {
			display: flex;
			gap: 40px;
			list-style: none;
		}
		li {
			font-size: 14px;
			line-height: 24px;

			text-decoration: none;
		}
		a {
			color: c.$text-color;
			text-decoration: none;
			line-height: 24px;

			letter-spacing: 1.9px;
			font-size: 14px;
		}
		@media (max-width: 1108px) {
			display: none;
		}
	}

	&__btn {
		width: 110px;
		height: 40px;
		border-radius: 43px;
		border: 1px solid c.$blue-btn;
		background-color: transparent;
		font-size: 17px;
		letter-spacing: 1px;
		cursor: pointer;
	}
	&__btn_blue {
		@include btn-blue;
	}
	&__item {
		display: none;
		@media (max-width: 1108px) {
			display: flex;
			i {
				font-size: 27px;
				color: c.$blue-btn;
			}
		}
	}
}
.banner {
	margin-top: 105px;
	padding-left: 105px;

	@media (max-width: 1098px) {
		padding-left: 50px;
		margin-top: 60px;
	}
	&__content {
		@media (max-width: 1098px) {
			width: 50%;
		}
		@media (max-width: 664px) {
			position: relative;
			bottom: 70px;
		}
	}
	&__text {
		h1 {
			font-size: 40px;
			font-weight: 500;
			line-height: 45.5px;
			@media (max-width: 664px) {
				font-size: 36px;
			}
		}
	}
	&__steps {
		display: flex;
		align-items: center;
		gap: 10px;
		margin-top: 14px;
		margin-bottom: 14px;

		.line {
			border-bottom: 1.5px solid c.$blue-btn;
			width: 16px;
		}
		.number_one {
			font-size: 24px;
			font-weight: 500;
		}
		.number {
			font-size: 18px;
		}
	}
	&__registration {
		p {
			font-size: 24px;
			font-weight: 500;
		}
		.registration__info {
			font-size: 16px;
			font-weight: 400;
			margin-top: 14px;
			width: 30%;
			@media (max-width: 1098px) {
				width: 100%;
			}
		}
		.banner__btn {
			@include btn-blue();
			width: 295px;
			height: 56px;
			font-size: 16px;
			font-weight: 700;
			letter-spacing: 1px;
			margin-top: 31px;
		}
	}
	&__dots {
		display: flex;
		justify-content: center;
		gap: 20px;
		left: 50%;
		bottom: 40px;
		position: absolute;
		.dot {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: transparent;
			border: 2px solid c.$blue-btn;
			&__active {
				background-color: c.$blue-btn;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background-color: c.$blue-btn;
			}
		}
		@media (max-width: 664px) {
			position: relative;
			margin-top: 20px;
		}
	}
}
.benefits {
	padding-top: 54px;
	padding-bottom: 75px;
	&__container {
		@include container();
		display: flex;
		justify-content: space-around;
		gap: 40px;
		@media (max-width: 734px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	&__item {
		display: flex;
		gap: 15px;

		@media (max-width: 880px) {
			gap: 10px;
			align-items: flex-start;
		}
		@media (max-width: 734px) {
			align-items: center;
			gap: 33px;
		}
	}
	&__title {
		font-size: 24px;
		font-weight: 500;
		line-height: 22px;
		letter-spacing: 0px;
	}
	&__info {
		font-size: 16px;
		font-weight: 400;
		margin-top: 17px;
		line-height: 130%;
		letter-spacing: 4%;
		@media (max-width: 880px) {
			margin-top: 8px;
		}
	}
}
.comfort {
	@include container();
	background-color: c.$green-color;
	&__container {
		padding-bottom: 92px;
		width: 100%;
	}
	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 100px;
		padding-right: 100px;
		padding-top: 57px;
		padding-bottom: 57px;
		@media (max-width: 1348px) {
			padding-left: 50px;
			padding-right: 0px;
			gap: 29px;
		}
		@media (max-width: 732px) {
			flex-direction: column;
			padding: 20px;
		}
	}
	&__item-row {
		display: flex;

		justify-content: space-between;
		align-items: center;
		padding-right: 100px;
		padding-left: 70px;
		margin-bottom: 50px;
		flex-flow: row-reverse;
		@media (max-width: 1348px) {
			padding-left: 0px;
			padding-right: 50px;
			gap: 42px;
		}
		@media (max-width: 732px) {
			margin-top: 53px;
			flex-direction: column;
			padding: 20px;
		}
	}
	&__list {
		max-width: 530px;
		font-weight: 400;
		font-size: 18px;
		line-height: 28px;
		gap: 10px;
		letter-spacing: 0px;
		list-style: none;
		li::marker {
			content: "-  ";
		}
		@media (max-width: 1348px) {
			font-size: 16px;
		}
		@media (max-width: 542px) {
			font-size: 14px;
			font-weight: 400;
			line-height: 130%;
		}
	}
	&__btn_left {
		@include btn-blue();
		width: 217px;
		height: 56px;
		background-color: transparent;
		color: black;
		border: 2px solid c.$blue-btn;
		margin-top: 19px;
		font-weight: 700;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0px;
	}
	&__btn_right {
		@include btn-blue();
		width: 217px;
		height: 56px;
		letter-spacing: 0px;
		margin-top: 38px;
		font-weight: 700;
	}
	&__title {
		padding-bottom: 18px;
		@media (max-width: 542px) {
			font-size: 20px;
			font-weight: 500;
			padding-bottom: 0px;
		}
	}
	&__img_left {
		background-image: url("../images/comfort-img.svg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		width: 595px;
		height: 300px;
		padding-right: 100px;
		@media (max-width: 732px) {
			min-height: 159px;
			width: 100%;
		}
		@media (max-width: 360px) {
			width: 280px;
			height: 159px;
		}
	}

	&__img_right {
		background-image: url("../images/comfort-img.svg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		width: 595px;
		height: 300px;
		@media (max-width: 732px) {
			min-height: 159px;
			width: 100%;
		}
		@media (max-width: 360px) {
			width: 280px;
			height: 159px;
		}
	}
}
.pricing__container {
	@include container();
	flex-direction: column;
	align-items: center;
	margin-top: 57px;
	padding-bottom: 98px;
	@media (max-width: 770px) {
		padding-bottom: 50px;
	}
	@media (max-width: 591px) {
		padding-bottom: 33px;
	}

	h1 {
		padding-bottom: 63px;
		text-align: center;
		@media (max-width: 670px) {
			font-size: 36px;
		}
	}

	.cards {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 20px;

		.card {
			background-color: c.$blue-light;
			min-width: 256px;
			min-height: 320px;
			border-radius: 4px;
			padding: 32px;
			&__title {
				font-size: 28px;
				line-height: 40px;
				font-weight: 500;
				padding-bottom: 44px;
			}
			&__info {
				font-weight: 500;
				font-size: 16px;
				line-height: 24px;
			}
			&__price {
				padding-top: 12px;
				display: flex;
				align-items: flex-end;
				&-num {
					font-size: 48px;
					font-weight: 700;
					line-height: 48px;
					padding-right: 4px;
					text-align: end;
				}
				&-info {
					font-weight: 500;
					font-size: 20px;
					line-height: 24px;
					letter-spacing: 0%;
				}
			}
		}
		.price__btn {
			@include btn-blue();
			letter-spacing: 0px;
			margin-top: 50px;
		}
		.card-last {
			background-color: c.$blue-light;
			min-width: 256px;
			min-height: 320px;
			border-radius: 4px;
			padding: 32px;
			&__title {
				font-size: 28px;
				line-height: 40px;
				font-weight: 500;
				padding-bottom: 44px;
			}
			.price__btn {
				margin-top: 86px;
			}
		}
	}
}
.stats {
	@include container;
	height: 310px;
	background-color: c.$green-color;
	@media (max-width: 770px) {
		height: 252px;
	}
	@media (max-width: 591px) {
		height: 237px;
	}
	&__container {
		padding-top: 43px;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (max-width: 770px) {
			padding-top: 10px;
		}
		@media (max-width: 591px) {
			padding-top: 43px;
		}
	}
	&__number {
		font-size: 73px;
		font-weight: 500;
		letter-spacing: 0%;
		@media (max-width: 770px) {
			font-size: 56px;
		}
		@media (max-width: 591px) {
			font-size: 36px;
		}
	}
	&__title {
		font-size: 36px;
		@media (max-width: 591px) {
			font-size: 20px;
		}
	}
	&__info {
		font-size: 18px;
		line-height: 28px;
		letter-spacing: 0px;
		font-weight: 400;
		width: 478px;
		height: 84px;
		text-align: center;
		padding-top: 12px;
		@media (max-width: 591px) {
			font-size: 14px;
			width: 280px;
			height: 72px;
			padding-top: 0px;
			line-height: 130%;
		}
	}
}
.partners {
	@include container();
	height: 310px;
	&__container {
		padding-top: 47px;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}
	&__logos {
		padding-top: 47px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 104px;
		@media (max-width: 1062px) {
			gap: 30px;
		}
	}
	&__dots {
		display: flex;
		justify-content: center;
		gap: 20px;
		left: 50%;
		bottom: 10px;
		position: absolute;
		.dot {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: transparent;
			border: 2px solid c.$blue-btn;
			&__active {
				background-color: c.$blue-btn;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background-color: c.$blue-btn;
			}
		}
	}
	@media (max-width: 820px) {
		.partners {
			&__logos {
				flex-wrap: wrap;
				justify-content: center;
				column-gap: 24px;
				row-gap: 16px;
				padding-top: 25px;
			}
			&__logos img {
				flex: 0 1 calc(50% - 24px);
				max-width: 140px;
				height: 80px;
			}
			&__dots {
				position: static;
				margin-top: 25px;
				justify-content: center;
			}
			&__title {
				font-size: 20px;
			}
		}
	}
}
.articles {
	@include container();
	margin-top: 50px;
	height: 654px;
	background-color: c.$green-color;
	@media (max-width: 728px) {
		height: 845px;
	}
	&__container {
		padding-top: 38px;
		width: 90%;
		@media (max-width: 1286px) {
			width: 100%;
		}
		@media (max-width: 728px) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding-top: 0px;
		}
	}
	&__cards {
		display: flex;
		justify-content: space-around;
		@media (max-width: 728px) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 15px;
		}
	}
	&__title {
		text-align: center;
		padding-bottom: 32px;
		@media (max-width: 728px) {
			font-size: 20px;
			padding-bottom: 20px;
		}
	}

	&__date {
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0px;
		@media (max-width: 728px) {
			font-size: 12px;
		}
	}
	&__info {
		font-size: 24px;
		font-weight: 500;
		line-height: 26.5px;
		letter-spacing: 0%;
		@media (max-width: 728px) {
			font-size: 16px;
			line-height: 18px;
		}
	}
	@media (max-width: 1286px) {
		&__card-hide {
			display: none;
		}
		@media (max-width: 802px) {
			&__card {
				img {
					width: 324px;
				}
			}
		}
		@media (max-width: 728px) {
			&__card {
				img {
					width: 280px;
				}
			}
		}
	}
}
